html {
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-size-asjust: 100%;
    -ms-text-size-adjust: 100%;   
}

body {
  background-color: white;
}

h1 {
  color: red;
  text-align: center;
}
h2 {
  color: white;
  text-align: left;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

p {
  color: red;
  text-align: center;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-family: verdana;
  font-size: 20px;
}
form {
  text-align: center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=submit] {
    width: 25%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]:hover {
    background-color: #45a049;
  }

ul {
	list-style-type: ;
	color: darkblue;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	font-size: medium;
}